<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <%- include('../../components/aside.ejs') %>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                <%- include('../../components/header.ejs') %>
                    <!--end::Header-->
                    <!--begin::Content-->
                    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                        <!--begin::Toolbar-->
                        <div class="toolbar" id="kt_toolbar">
                            <!--begin::Container-->
                            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                                <!--begin::Page title-->
                                <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                                    data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
                                    class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                                    <!--begin::Title-->
                                    <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">eCommerce
                                        Dashboard</h1>
                                    <!--end::Title-->
                                </div>
                                <!--end::Page title-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::Post-->
                        <div class="post d-flex flex-column-fluid" id="kt_post">
                            <!--begin::Container-->
                            <div id="kt_content_container" class="container-xxl">
                                <!--begin::Row-->
                                <div class="row gy-5 g-xl-10">
                                    <!--begin::Col-->
                                    <div class="col-xl-12 mb-5 mb-xl-10">
                                        <!--begin::Table Widget 4-->
                                        <div class="card card-flush h-xl-100">
                                            <!--begin::Card header-->
                                            <div class="card-header pt-7">
                                                <!--begin::Title-->
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label fw-bolder text-gray-800">Recent
                                                        Orders</span>
                                                    <span class="text-gray-400 mt-1 fw-bold fs-6">Avg. 57 orders per
                                                        day</span>
                                                </h3>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Card header-->
                                            <!--begin::Card body-->
                                            <div class="card-body pt-2">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-3"
                                                    id="kt_table_widget_4_table">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                        <!--begin::Table row-->
                                                        <tr
                                                            class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="min-w-100px">Order ID</th>
                                                            <th class="text-end min-w-100px">Created</th>
                                                            <th class="text-end min-w-125px">Customer</th>
                                                            <th class="text-end min-w-100px">Total</th>
                                                            <th class="text-end min-w-100px">Profit</th>
                                                            <th class="text-end min-w-50px">Status</th>
                                                        </tr>
                                                        <!--end::Table row-->
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bolder text-gray-600">
                                                        <tr data-kt-table-widget-4="subtable_template" class="d-none">
                                                            <td colspan="2">
                                                                <div class="d-flex align-items-center gap-3">
                                                                    <a href="#"
                                                                        class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
                                                                        <img src=""
                                                                            data-kt-src-path="assets/media/stock/ecommerce/"
                                                                            alt=""
                                                                            data-kt-table-widget-4="template_image" />
                                                                    </a>
                                                                    <div class="d-flex flex-column text-muted">
                                                                        <a href="#"
                                                                            class="text-gray-800 text-hover-primary fw-bolder"
                                                                            data-kt-table-widget-4="template_name">Product
                                                                            name</a>
                                                                        <div class="fs-7"
                                                                            data-kt-table-widget-4="template_description">
                                                                            Product description</div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">Cost</div>
                                                                <div class="text-muted fs-7 fw-bolder"
                                                                    data-kt-table-widget-4="template_cost">1</div>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">Qty</div>
                                                                <div class="text-muted fs-7 fw-bolder"
                                                                    data-kt-table-widget-4="template_qty">1</div>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7">Total</div>
                                                                <div class="text-muted fs-7 fw-bolder"
                                                                    data-kt-table-widget-4="template_total">name</div>
                                                            </td>
                                                            <td class="text-end">
                                                                <div class="text-gray-800 fs-7 me-3">On hand</div>
                                                                <div class="text-muted fs-7 fw-bolder"
                                                                    data-kt-table-widget-4="template_stock">32</div>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <% if (data.sellings.length>=5) { %>
                                                            <% for( let i=0; i < 5; i++ ) { %>
                                                                <tr>
                                                                    <td>
                                                                        <a href="/invoice/<%= data.sellings[i].id_order %>"
                                                                            class="text-gray-800 text-hover-primary">
                                                                            #<%= data.sellings[i].id_order %>
                                                                        </a>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        <%= ((Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                            / (1000 * 3600 * 24)))===0) ? 'Today' : ''
                                                                            %>
                                                                            <%= ((Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                / (1000 * 3600 * 24)))===1)
                                                                                ? 'Yesterday' : '' %>
                                                                                <%= ((Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                    / (1000 * 3600 * 24)))>1) ?
                                                                                    `${Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                    / (1000 * 3600 * 24))} days ago`
                                                                                    : '' %>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        <a href="#"
                                                                            class="text-gray-600 text-hover-primary">
                                                                            <%= data.sellings[i].full_name %>
                                                                        </a>
                                                                    </td>
                                                                    <td class="text-end">Rp. <%=
                                                                            Intl.NumberFormat('en-US').format(data.sellings[i].grand_total)
                                                                            %>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        <span
                                                                            class="text-gray-800 fw-boldest">$86.70</span>
                                                                    </td>
                                                                    <td class="text-end">
                                                                        <span class="badge py-3 px-4 fs-7 <% if (data.sellings[i].status_selling === 'Delivered') { %>
                                                                 badge-light-success
                                                                 <% } else if (data.sellings[i].status_selling === 'Proccess') { %>
                                                                  badge-light-primary
                                                                  <% } else if (data.sellings[i].status_selling === 'Pending') { %>
                                                                    badge-light-warning
                                                                  <% } else { %>
                                                                   badge-light-danger
                                                                <% } %>">
                                                                            <%= data.sellings[i].status_selling %>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% } else { %>
                                                                        <% for( let i=0; i < data.sellings.length; i++ )
                                                                            { %>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="/invoice/<%= data.sellings[i].id_order %>"
                                                                                        class="text-gray-800 text-hover-primary">
                                                                                        #<%= data.sellings[i].id_order
                                                                                            %>
                                                                                    </a>
                                                                                </td>
                                                                                <td class="text-end">
                                                                                    <%= ((Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                        / (1000 * 3600 * 24)))===0)
                                                                                        ? 'Today' : '' %>
                                                                                        <%= ((Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                            / (1000 * 3600 * 24)))===1)
                                                                                            ? 'Yesterday' : '' %>
                                                                                            <%= ((Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                                / (1000 * 3600 * 24)))>
                                                                                                1) ?
                                                                                                `${Math.floor(((Date.now())-(data.sellings[i].date_modified.getTime()))
                                                                                                / (1000 * 3600 * 24))}
                                                                                                days ago`
                                                                                                : '' %>
                                                                                </td>
                                                                                <td class="text-end">
                                                                                    <a href="#"
                                                                                        class="text-gray-600 text-hover-primary">
                                                                                        <%= data.sellings[i].full_name
                                                                                            %>
                                                                                    </a>
                                                                                </td>
                                                                                <td class="text-end">Rp. <%=
                                                                                        Intl.NumberFormat('en-US').format(data.sellings[i].grand_total)
                                                                                        %>
                                                                                </td>
                                                                                <td class="text-end">
                                                                                    <span
                                                                                        class="text-gray-800 fw-boldest">$86.70</span>
                                                                                </td>
                                                                                <td class="text-end">
                                                                                    <span class="badge py-3 px-4 fs-7 <% if (data.sellings[i].status_selling === 'Delivered') { %>
                                                                         badge-light-success
                                                                         <% } else if (data.sellings[i].status_selling === 'Proccess') { %>
                                                                          badge-light-primary
                                                                          <% } else if (data.sellings[i].status_selling === 'Pending') { %>
                                                                            badge-light-warning
                                                                          <% } else { %>
                                                                           badge-light-danger
                                                                        <% } %>">
                                                                                        <%= data.sellings[i].status_selling
                                                                                            %>
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <% } %>
                                                                                <% } %>
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                        <!--end::Table Widget 4-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row gy-5 g-xl-10">
                                    <!--begin::Col-->
                                    <div class="col-xl-4">
                                        <!--begin::List widget 5-->
                                        <div class="card card-flush h-xl-100">
                                            <!--begin::Header-->
                                            <div class="card-header pt-7">
                                                <!--begin::Title-->
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label fw-bolder text-dark">Delivered
                                                        Products</span>
                                                    <span class="text-gray-400 mt-1 fw-bold fs-6">1M Products Shipped so
                                                        far</span>
                                                </h3>
                                                <!--end::Title-->
                                                <!--begin::Toolbar-->
                                                <div class="card-toolbar">
                                                    <a href="/sellings" class="btn btn-sm btn-light">Order Details</a>
                                                </div>
                                                <!--end::Toolbar-->
                                            </div>
                                            <!--end::Header-->
                                            <!--begin::Body-->
                                            <div class="card-body">
                                                <!--begin::Scroll-->
                                                <div class="hover-scroll-overlay-y pe-6 me-n6" style="height: 415px">
                                                    <% data.delivered.forEach((e,i=0)=> { %>
                                                        <% products=JSON.parse(e.product_id) %>
                                                            <% quantity=JSON.parse(e.quantity) %>
                                                                <% products.forEach(p=> { %>
                                                                    <!--begin::Item-->
                                                                    <div
                                                                        class="rounded border-gray-300 border-1 border-gray-300 border-dashed px-7 py-3 mb-6">
                                                                        <!--begin::Info-->
                                                                        <div class="d-flex flex-stack mb-3">
                                                                            <!--begin::Wrapper-->
                                                                            <div class="me-3">
                                                                                <!--begin::Icon-->
                                                                                <img src="uploads/img/product/<%= p.image %>"
                                                                                    class="w-50px ms-n1 me-1" alt="" />
                                                                                <!--end::Icon-->
                                                                                <!--begin::Title-->
                                                                                <a href="../../demo1/dist/apps/ecommerce/catalog/edit-product.html"
                                                                                    class="text-gray-800 text-hover-primary fw-bolder">
                                                                                    <%= p.product_name %>
                                                                                </a>
                                                                                <span class="text-gray-400 fw-bolder">x
                                                                                    <%= quantity[i] %>
                                                                                </span>
                                                                                <!--end::Title-->
                                                                            </div>
                                                                            <!--end::Wrapper-->
                                                                        </div>
                                                                        <!--end::Info-->
                                                                        <!--begin::Customer-->
                                                                        <div class="d-flex flex-stack">
                                                                            <!--begin::Name-->
                                                                            <span class="text-gray-400 fw-bolder">To:
                                                                                <a href="../../demo1/dist/apps/ecommerce/sales/details.html"
                                                                                    class="text-gray-800 text-hover-primary fw-bolder">
                                                                                    <%= e.full_name %>
                                                                                </a></span>
                                                                            <!--end::Name-->
                                                                            <!--begin::Label-->
                                                                            <span
                                                                                class="badge badge-light-success">Delivered</span>
                                                                            <!--end::Label-->
                                                                        </div>
                                                                        <!--end::Customer-->
                                                                    </div>
                                                                    <% }) %>
                                                                        <% i++}) %>
                                                                            <!--end::Item-->
                                                </div>
                                                <!--end::Scroll-->
                                            </div>
                                            <!--end::Body-->
                                        </div>
                                        <!--end::List widget 5-->
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-xl-8">
                                        <!--begin::Table Widget 5-->
                                        <div class="card card-flush h-xl-100">
                                            <!--begin::Card header-->
                                            <div class="card-header pt-7">
                                                <!--begin::Title-->
                                                <h3 class="card-title align-items-start flex-column">
                                                    <span class="card-label fw-bolder text-dark">Stock Report</span>
                                                    <span class="text-gray-400 mt-1 fw-bold fs-6">Total <%= data.stock
                                                            %>
                                                            Items in
                                                            the
                                                            Stock</span>
                                                </h3>
                                                <!--end::Title-->
                                            </div>
                                            <!--end::Card header-->
                                            <!--begin::Card body-->
                                            <div class="card-body">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-3"
                                                    id="kt_table_widget_5_table">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                        <!--begin::Table row-->
                                                        <tr
                                                            class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="min-w-100px">Item</th>
                                                            <th class="text-end pe-3 min-w-100px">Product ID</th>
                                                            <th class="text-end pe-3 min-w-100px">Price</th>
                                                            <th class="text-end pe-3 min-w-50px">Status</th>
                                                            <th class="text-end pe-0 min-w-25px">Qty</th>
                                                        </tr>
                                                        <!--end::Table row-->
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bolder text-gray-600">
                                                        <% data.products.forEach(e=> { %>
                                                            <tr>
                                                                <!--begin::Item-->
                                                                <td>
                                                                    <form action="/products/edit-form" method="post"
                                                                        id="edit<%= e.id %>">
                                                                        <input type="hidden" name="id"
                                                                            value="<%= e.id %>">
                                                                        <a class="text-gray-800 text-hover-primary fs-5 fw-bolder mb-1"
                                                                            style="cursor: pointer;"
                                                                            onclick="document.getElementById(`edit<%= e.id %>`).submit()">
                                                                            <%= e.product_name %>
                                                                        </a>
                                                                    </form>
                                                                </td>
                                                                <!--end::Item-->
                                                                <!--begin::Product ID-->
                                                                <td class="text-end">
                                                                    <%= e.brand %>
                                                                </td>
                                                                <!--end::Product ID-->
                                                                <!--begin::Price-->
                                                                <td class="text-end">
                                                                    Rp. <%= Intl.NumberFormat('en-US').format(e.price)
                                                                        %>
                                                                </td>
                                                                <!--end::Price-->
                                                                <!--begin::Status-->
                                                                <td class="text-end">
                                                                    <span
                                                                        class="badge py-3 px-4 fs-7 badge-light-<%= (e.status === 'Published') ? 'success' : 'danger' %>">
                                                                        <%= e.status %>
                                                                    </span>
                                                                </td>
                                                                <!--end::Status-->
                                                                <!--begin::Qty-->
                                                                <td class="text-end" data-order="58">
                                                                    <span class="text-dark fw-bolder">
                                                                        <%= e.quantity %> PCS
                                                                    </span>
                                                                </td>
                                                                <!--end::Qty-->
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                        <!--end::Table Widget 5-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Post-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Footer-->
                    <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                        <!--begin::Container-->
                        <div
                            class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                            <!--begin::Copyright-->
                            <div class="text-dark order-2 order-md-1">
                                <span class="text-muted fw-bold me-1">2022©</span>
                                <a href="https://keenthemes.com" target="_blank"
                                    class="text-gray-800 text-hover-primary">Keenthemes</a>
                            </div>
                            <!--end::Copyright-->
                            <!--begin::Menu-->
                            <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                                <li class="menu-item">
                                    <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://devs.keenthemes.com" target="_blank"
                                        class="menu-link px-2">Support</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://1.envato.market/EA4JP" target="_blank"
                                        class="menu-link px-2">Purchase</a>
                                </li>
                            </ul>
                            <!--end::Menu-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<%- contentFor('style') %>
    <link href="assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/custom/vis-timeline/vis-timeline.bundle.css" rel="stylesheet" type="text/css" />
    <%- contentFor('script') %>
        <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
        <script src="assets/plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>
        <script src="assets/js/widgets.bundle.js"></script>
        <script src="assets/js/custom/widgets.js"></script>
        <script src="assets/js/custom/apps/chat/chat.js"></script>
        <script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
        <script src="assets/js/custom/utilities/modals/users-search.js"></script>